{% extends 'base.html' %}

{% block content %}
    <h2><a href = "/">view books</a></h2>
    <h1>{% block title %} Add a new book {% endblock %}</h1>
    
        <form action = "{{ url_for('create') }}" method = "POST">
   
        <label for="title">Title</label>
        <br>
        <input type="text" name="title"
               placeholder="enter book title"
               value="{{ request.form['title'] }}"></input>
        <br>

        <label for="content">Author</label>
        <br>
       
        <input type="text" name="author"
               placeholder="enter author"
               value="{{ request.form['author'] }}"></input>
        <br>
    
        <label for="content">Quantity</label>
        <br>
        <input type="text" name=quantity
               placeholder="enter quantity"
               value="{{ request.form[quantity] }}"></input>
        <br>
       
      
        <input type="submit" value="Add book"
        onclick="return confirm('Are you sure you want to add this book?')">
    </form>
{% endblock %}